<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="org.sdrpp.sdrpp">

    <application
        android:label="Z2 SDR"
        android:allowBackup="false"
        android:fullBackupContent="false"
        android:hasCode="true">

        <activity
            android:name="org.sdrpp.sdrpp.MainActivity"
            android:icon="@mipmap/ic_launcher"
            android:theme="@android:style/Theme.NoTitleBar.Fullscreen"
            android:launchMode="singleTask"
            android:configChanges="orientation|keyboardHidden|screenSize|screenLayout|smallestScreenSize|uiMode|density">
            <meta-data android:name="android.app.lib_name" android:value="sdrpp_core" />

            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>

            <!-- Offer SDR++ when a supported SDR is plugged in (grants USB permission on accept) -->
            <intent-filter>
                <action android:name="android.hardware.usb.action.USB_DEVICE_ATTACHED" />
            </intent-filter>
            <meta-data android:name="android.hardware.usb.action.USB_DEVICE_ATTACHED" android:resource="@xml/device_filter" />
        </activity>

        <!-- Debug report sharing (Settings > Export debug log) -->
        <provider
            android:name="androidx.core.content.FileProvider"
            android:authorities="${applicationId}.reports"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data android:name="android.support.FILE_PROVIDER_PATHS" android:resource="@xml/report_paths" />
        </provider>
    </application>

    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.INTERNET"/>
</manifest>
